<table style="width:100%;">
  <thead>
    <tr>
      <th nowrap>{{ label('product.product', 'code') }}</th>
      <th nowrap>{{ label('product.template', 'name') }}</th>
      <th class="text-right" nowrap>{{ label('account.invoice.line', 'quantity') }}</th>
      <th class="text-right" nowrap>{{ label('account.invoice.line', 'unit_price') }}</th>
      <th></th>
      <th class="text-right" nowrap>{{ label('account.invoice.line', 'amount')}}</th>
    </tr>
  </thead>
  <tbody class="border">
    {% for key, lines in document.raw.lines|groupby('shipment_key')|nullslast %}
    <tr>{% set key = dualrecord(key) %}
      <th class="sub_header_level1" colspan="6">
        {% if key %}
        {{ label(key.raw.__name__) }}: {{ key.render.number }} {% if key.raw.reference %}/ {{ key.render.reference }}{% endif %}
        {% if key.raw.effective_date %}{{ label(key.raw.__name__, 'effective_date') }}: {{ key.render.effective_date }}{% endif %}
        {% endif %}
      </th>
    </tr>
      {% for key2, origin_lines in lines|groupby('origin_line_key')|nullslast %}
      <tr>{% set key2 = dualrecord(key2) %}
        <th class="{% if key2 %}sub_header_level2{% else %}sub_header_level1{% endif %}" colspan="6">
          {% if key2 %}
          {{ label(key2.raw.__name__) }}: {{ key2.render.number }} {% if key2.render.reference %}/ {{ key2.render.reference }}{% endif %}
          {% if key2.render.sale_date %}{{ label(key2.raw.__name__, 'sale_date') }}: {{ key2.render.sale_date }}{% endif %}
          {% endif %}
        </th>
      </tr>
      <!-- lines -->
      {% for line in origin_lines %}{% set line = dualrecord(line) %}
        {% if line.raw.type == 'line' %}
        <tr>
          {% if line.raw.description %}
            <td></td>
            <td>{{ line.render.description }}</td>
          {% else %}
            <td>{{ line.product and line.product.render.code or '' }}</td>
            <td>{{ line.product and line.product.render.name or '' }}</td>
          {% endif %}

          <td class="text-right">{{ line.render.quantity }} {% if line.unit %} {{ line.unit.render.symbol }}{% endif %}</td>

          {% if line.raw.gross_unit_price %}
            <td class="text-right">{{ line.render.gross_unit_price }} {{ line.invoice.currency.render.symbol }}</td>
            {% if line.raw.discount1 or line.raw.discount2 or line.raw.discount3 %}
              <td class="text-right">
                  {% if line.raw.discount1 %}
                    {{ '-{0:.2F}'.format(line.raw.discount1*100).replace('.',',') }}%<br>
                  {%endif%}
                  {% if line.raw.discount2 %}
                    {{ '-{0:.2F}'.format(line.raw.discount2*100).replace('.',',') }}%<br>
                  {%endif%}
                  {% if line.raw.discount3 %}
                    {{ '-{0:.2F}'.format(line.raw.discount3*100).replace('.',',') }}%<br>
                  {%endif%}
              </td>
            {% elif line.raw.discount and line.raw.discount > 0 %}
              <td class="text-right">{{ '-{0:.2F}'.format(line.raw.discount*100) }} %</td>
            {% else %}
              <td> </td>
            {% endif %}
          {% else %}
            <td class="text-right">{{ line.render.unit_price }} {{ line.invoice.currency.render.symbol }}</td>
            <td></td>
          {% endif %}
          <td class="text-right">{{ line.render.amount }} {{ line.invoice.currency.render.symbol }}</td>
        </tr>
        {%endif%}

        {% if line.raw.type == 'comment' %}
        <tr>
          <td>{{ line.render.type }}</td>
          <td colspan="5">{{ line.render.description }}</td>
        </tr>
        {%endif%}

        {% if line.raw.type == 'title' %}
        <tr>
          <td colspan="6"><strong>{{ line.render.description }}<strong></td>
        </tr>
        {%endif%}

        {% if line.raw.type == 'subtotal' %}
        <tr>
          <td colspan="5"><strong>{{ line.render.description }}<strong></td>
          <td class="text-right"><strong>{{ line.render.amount }} {{ line.invoice.currency.render.symbol }}<strong> </td>
        </tr>
        {%endif%}
      {% endfor %}
      <!-- end origin_lines -->
  {% endfor %}
  <!-- end lines -->
  {% endfor %}

  <tr class="b-hide">
    <td colspan="6"></td>
  </tr>
  </tbody>
</table>
